@charset "utf-8";
/* CSS Document */

/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

.app {
  display: flex;
}

.main {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  /*background-color: grey;*/
}

.search {
  padding: 10px;
  margin-right: 5px;
}

.search input {
  width: 100%;
  height: 40px;
  font-size: 24px;
  color: #999;
  padding-left: 5px;
}

.map {
  flex-grow: 1;
  height: 100vh;
  top: 0;
  position: sticky;
  /*background-color: green;*/
}
.cafes li {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* ====================== Cafe ====================== */

.cafe {
  flex-basis: /*calc(50% - 20px)*/ 100%;
  margin: 10px;
  cursor: pointer;
  /*background-color: #e0e0e0;*/
}
.cafe:hover {
  opacity: 0.8;
}
/*
.cafe-picture {
  height: 200px;  
  background-size: cover;
  background-position: center;
}
*/
.cafe-title {
  margin: 0 10px;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}


/* ====================== Marker ====================== */
/*
.marker {
  width: 48px;
  font-size: 18px;
  background-color: white;
  border: 1px solid #999;
  border-radius: 4px;
  text-align: center;
  padding: 4px;
}
*/
.marker.selected {
  background-color: yellow;
  border-color: black;
}

/* ====================== Toggle ====================== */

.toggle-menu {
  /* This trasform moves the drawer off canvas. */
  /* -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  /* transition: transform 0.3s ease; */
 
}


/*.toggle-menu.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}*/ 


/* ====================== Slider nav ====================== */

/* Colors */
/* Animations */
/*.transition-5s {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}*/
/* Menu */
.menu-container:hover .menu-slide {
  -o-transform: translate(400px, 0);
  -moz-transform: translate(400px, 0);
  -ms-transform: translate(400px, 0);
  -webkit-transform: translate(400px, 0);
  transform: translate(400px, 0);
  opacity: 1;
}
.menu-container .menu-btn {
  color: #333333;
  position: fixed;
  top: 80px;
  left: 10px;
  cursor: pointer;
  font-size: 19px;
  text-decoration: none;
  z-index: 10000;
  /*
  left: 10px;
  top: 10px;  
  position: absolute;
  fill: #4e595d;  
  z-index: 5;
  */
  width: 48px;
  background-color: #fff; 
  border: 2px solid #4e595d;
  border-radius: 5px;
}
.menu-container .menu-btn:hover {
  color: #666666;
}
.menu-container .menu-slide {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #e0e0e0;
  /*background-color: #000000;*/
  height: 100%;
  left: -400px;
  top: 0;
  width: 400px;
  overflow-y: auto;
  z-index: 10000;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 6s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  opacity: 0;
}
.menu-container .menu-slide .menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-container .menu-slide .menu-list .menu-item a {
  padding: 8px;
  display: block;
  text-decoration: none;
  color: #333333;
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.menu-container .menu-slide .menu-list .menu-item a:hover {
  color: #FFF;
  background-color: #333;
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}
