@charset "utf-8";
/* CSS Document */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: Roboto;*/
  font-size: 16px;
  color: #424242;
  line-height: 1.5em;
  background-color: #11517E;
}
/*h1, h2, h3 {
  margin: 0; 
}*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app {
  display: flex;


}
.search {
  padding: 20px;
  margin: 0;
}
.search input {
  width: 100%;
  height: 40px;
  font-size: 24px;
  color: #999;
}
.map-container {
  flex-grow: 1;
  top: 0;
  position: sticky;
  height: calc(100vh - 72px);
}
.cafes li {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: auto;
}
.cafes ul {
  padding: 0;
}

/* ====================== Cafe ====================== */

.cafe {
  flex-basis: /*calc(50% - 20px)*/ 100%;
  margin: 10px 20px;
  cursor: pointer;
  background-color: #e0e0e0;
}
.cafe:hover {
  opacity: 0.8;
}
.cafe-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

/* ====================== Header ====================== */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  height: 100%;
  transition: min-height 0.3s;
}
.header-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header-title {
  font-size: 2em;
  vertical-align: bottom;
  display: inline-block;
  font-weight: bold;
  margin: 0.75em 3em;
  color: white;
  /*text-transform: uppercase;*/
  letter-spacing: 2px;
}
.header-menu {
  
}
.header-menu svg {
  display: inline-block;
  position: absolute;
  left: 0;
  fill: #333333;
  cursor: pointer;
  width: 48px;
  background-color: #fff;
  padding: 0.75em;
}

/* ====================== Menu nav ====================== */

.menu-box {
  overflow-y: auto;
 }
.nav {
  z-index: 10;
  background-color: #fff;
  width: 350px;
  position: absolute;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-350px, 0);
  transform: translate(-350px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
  /*border: 2px solid #4e595d;
  border-radius: 5px;*/
  margin: 0;
  padding: 0;
  list-style: none;  
  height: calc(100vh - 72px);
}
.nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  overflow-y: auto;
  height: calc(100vh - 72px);
}
.nav-item {
  display: list-item;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  line-height: 25px;
  padding: 25px;
}

/* ====================== Error Boundary ====================== */
.error-handling h1 {
  color: #FFFFFF;
}

/* ====================== Info Window ====================== */
.info-window {

}

/* ====================== RESPONSIVE - MEDIA QUERIES ====================== */
@media screen and (max-width: 299px) {
.header-title {
  font-size: 1.2em; 
  font-weight: bold;
  margin: 0.75em 0.5em 0.75em 4em;
}
.nav.open { 
  width: 100%; 
}
.header-menu svg {
  padding: 0;
} 
}

@media screen and (min-width: 300px) and (max-width: 500px) {
.header-title {
  font-size: 1.5em; 
  font-weight: bold;
  margin: 0.75em 0.5em 0.75em 4em;
}
.nav.open { 
  width: 100%; 
}
.header-menu svg {
  padding: 0.45em;
} 
}